<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=us-cdbr-azure-east-b.cloudapp.net;Database=tipsaldb;Uid=b396c404e52f12;Pwd=8c6a2a67" name="tipsaldb" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
